.BodySite{
    padding: 0 5% 0 5%;
}

h1 {
  padding: 4%;
  color: #000;
  border-right: 0.1rem solid;
  border-right-color: #616060;
}

h6 {
  font-size: 0.92em;
}

a {
  color: #616060;
}

a:hover {
  color: #000;
  text-decoration: none;
}

i {
  color: #616060;
}

.orangeBarHead {
  background-color: orange;
  height: 15px;
}

/* Navigation Bar */

#title {
  color: #616060;
}

 .logo-image {
   float: left;
   padding-right: 8%;
   width: 40%;
 }

.logo-heading {

}

.text-heading {
  padding-left: 3%;
}

.heading-logo-container {
  padding-top: 3%;
  font-family: "ubuntu";
}

.textHeadings {
  color: orange;
font-weight: 300;
}

/* Navigation Bar */

#navbar {
padding-bottom: -30px;
}

.navbar {
  padding: 0 28% 0 0;
  font-family: "ubuntu";
  font-size: 1.5rem;
  color: #616060;
}

.navbar-hr {
  color: #616060;
}

/* Carousel */

.arrow-carousel-left {
  position: absolute;
  width: 7%;
  left: 4%;
  top: 86%;
}

.arrow-carousel-right {
  position: absolute;
  width: 7%;
  left: 89%;
  top: 86%;
}

.carousel-control-prev {
  margin-top: 62%;
}

.carousel-control-next {
  margin-top: 62%;
}

.carousel-image {
  width: 30%;
}

.features p {
  position: relative;
  padding: 30px 0 30px 0;
  margin: 0;
  font-family: "ubuntu";
  font-size: 2rem;
}

.futuredProducts {
  margin-bottom: 1%;
  font-size: 1rem;
}

#carouselFeautures {
  border: thick double #616060;
  text-align: center;
}

/* News Section */

.image-news-sector {
  width: 96%;
  height: 60%;
  position: absolute;

}

.news-sector .news-heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  padding: 13% 0 0 5%;
}

.news-sector .news-downing {
  font-size: 4.5rem;
  font-weight: bold;
  position: absolute;
  color: #fff;
  padding-left: 5%;
}

.news-delay {
  position: relative;
  top: 31%;
  border-bottom: solid 0.15rem;
}

.news-sector .news-text {
  font-size: 1.5rem;
  float: left;
  position: relative;
  top: 25%;
}

.news-button-more {
  float: right;
  background-color: #454545;
  border: 0;
  margin-right: 1px;
  color: #fff;
}

.news-button-arrow {
  float: right;
    background-color: #454545;
      border: 0;
      color: #fff;
}

/* Middle Section */

.middle-section {
  padding-top: 30px;
}

/* Middle column 1 */

.middle-column1 {
  border-right: solid 0.1rem #616060;
}

.data-latest-news{
padding-left: 25px;
margin-top: 50px;
margin-left: 0;
}

.data-latest-news .month-latest-news {
  font-size: 1rem;
  color: #000;
  border-right: solid 0.1rem #616060;
    padding-right: 150%;
}

.data-latest-news .number-latest-news {
  font-family: "ubuntu";
  font-size: 2rem;
  color: orange;
  margin-bottom: 0;
  border-right: solid 0.1rem #616060;
  padding-right: 150%;
}

.text-latest-news {
  padding-left: 25px;
  margin-top: 50px;
}

.text-latest-news p {
  font-family: "ubuntu";
  font-size: 1.1rem;
}

.hr-latest-news {
  border-bottom: dashed 0.1rem #616060;
  width: 95%;
}

/* Middle Column 2 */

.middle-column2 {
  border-right: solid 0.1rem #616060;
  padding-left: 50px;
  padding-right: 40px;
}

.middle-column2 p {
  font-family: "ubuntu";
  font-size: 1.3rem;
}

.middle-column2 h4 {
  margin-bottom: 50px;
}

/* Middle Column 3 */

.middle-column3 h4 {
padding-bottom: 50px;
}

.contact-us {
 padding-left: 15px;
}

.contact-us p {
  font-family: "ubuntu";
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* Our Clients Section */

.hr-for-clients {
  margin-top: 100px;
}

.ourClients h6 {
  padding: 0 0 9px 0;
}

.companies {
  text-align: center;
  margin: 30px 0 50px 0;
}

/* Footer Section */

.footer {
  text-align: center;
  width: 40%;
  padding: 0 auto 0 auto;
  margin: 0 auto 0 auto;
}

.footer-logo {
  width: 70px;
  float: left;
  position: relative;
  left: 35%;
}

.footer h3 {
  padding: 8px 0 8px 0;
}

td {
  font-size: 0.1rem;
}


/* for Smartphones */

@media
